body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: auto;
    margin: 0;
}
div {
    margin: 0;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0 .5em;
    padding: 0;
    white-space: nowrap;
}
li {
    display: inline-block;
}
li a{
    color: inherit;
    padding: 1em 1em;
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
nav {
    margin: 1% auto;
    font-size: .8em;
}
nav, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
}
nav ul, footer ul {
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#searchterm {
    line-height: 2em;
    width: 480px;
    border: 1px solid #ddd;
    margin: 30px 0;
    border-radius: 1em;
    padding: 0 3%;
}
#searchterm:hover {
    border: 1px solid transparent;
    box-shadow: 1px 0px 5px #ddd, -1px 0px 5px #ddd, 0px 1px 5px #ddd, 0px -1px 5px #ddd;
}
#searchterm:focus {
    border: 1px solid transparent;
    box-shadow: 1px 0px 5px #ddd, -1px 0px 5px #ddd, 0px 1px 5px #ddd, 0px -1px 5px #ddd;
    outline: none;
}
#search-btns {
    margin-bottom: 30px;
}
#search-btns .btn {
    margin: 0 15px;
    padding: 10px;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    background-color: #eee;
    border: 1px solid transparent;
    color: #5f6368;
    border-radius: .2em;
}
#search-btns .btn:hover {
    border: 1px solid #ddd;
    color: #000;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #5f6368;
    height: 4%;
    font-size: 1em;
    background-color: #eee;
    border-top: 1px solid #ddd;
}
